# ===============================
# MATLAB
# ===============================

# Arquivos temporários e de sessão
*.asv
*.m~
*.autosave
*.mat

# Arquivos gerados automaticamente
*.mex*
*.p
*.slxc
*.slxc.lock
*.mat
*.csv

# Cache e preferências
*.prj
*.prj.user
*.pref

# ===============================
# Diretórios a ignorar
# ===============================

# Base de dados (ignorar tudo dentro)
database/
mcode/
wfdb-app-toolbox-0-10-0.zip
groundtruth/

